<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
    <!-- <link rel="stylesheet" href="{{ STATIC_URL }}login.css" />  -->  <!-- comment the link above and uncomment this one-->
</head>
<body>
<div class="container" style="max-width: 400px; padding: 0 50px;">
  <div class="row" style="margin-bottom: 100px;">
    <!-- here must be deligence icon as an image i'll add it later-->
    <div class="col" style="margin-top: 100px;">
      <div class="deligence-icon"></div>
      <!-- <img src="" alt="" srcset=""> -->
    </div>
  </div>
  <div class="row space">
    <div class="col centering">
      <!-- {% for error in errors %} -->
      <p>{{ error }}</p>
      <!-- {% endfor %} -->
    </div>
  </div>
  <form action="/auth/obtain_token" method="post">  <!--action and method-->
    <!-- {% csrf_token %} -->
    <div class="row space2x">
      <div class="col centering"><input type="text" name="username_login" id=""></div>
    </div>
    <div class="row space2x">
      <div class="col centering"><input type="password" name="password_login" id=""></div>
    </div>
    <div class="row space2x">
      <div class="col centering">
        <input type="submit" value="ورود" name="submit">
      </div>
    </div>
  </form> 
  <div class="row space">
    <div class="col centering"><a href="#">رمز عبور خود را فراموش کرده اید؟</a></div>
  </div>
</div>
</body>
</html>