* {
    font-family: 'Times New Roman', Times, serif;
    direction: rtl;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}
.container { 
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}
.deligence-icon {
    background: #CA3433;
    width: 170px;
    margin: 100px auto 120px;
    height: 170px;
    border-radius: 50%;
}
.container input {
    width: 250px;
    height: 43px;
    margin: 0 auto 35px;
    padding: 0 20px;
    border: none;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.479);  
    outline: none;
}

.container input[type="submit"] {
    background-color: #CA3433;
    font: 18px bold;
    color: white;
    width: ;
}

.container .form-subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container .form-subcontainer form {
    text-align: center;
    width: 100%;
    height: 100%;
}

.container .link-subcontainer {
    text-align: center;
}

.container .link-subcontainer a {
    color: #00bebe;
}
